* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  header, footer {
    background: #eee;
    padding: 5rem;
    text-align: center;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 80%;
    margin: 2rem auto;
  }

  /* Styling hero */
.hero {
    max-width: 50rem;
    margin-bottom: 3rem;
  }

  /* Styling grid */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 2rem;
  }

  .grid div {
    background: #eee;
    height: 10rem;
    /* center the text */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .article {
    /* background: #eee; */
    flex-grow: 999;
    flex-basis: 0;
  }

  .sticky {
    background: #eee;
    height: 10rem;
    width: 12rem;
    flex-grow: 1;
    flex-basis: 300px;
    position: sticky;
    top: 2rem;
    /* center the text */
    display: flex;
    align-items: center;
    justify-content: center;
  }