@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,400;8..144,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
}
/* -------------------------- HEADER PRINCIPAL -------------------------- */
header {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}
/* Logo del sitio */
.logo-img {
    height: 120px;
}
.menu-logo {
    margin-top: 45px;
    margin-left: 45px;
}
.searh-logo {
    margin-top: 45px;
    margin-right: 45px;
}
.top-menu {
    display: flex;
}
#menu__ico {
    visibility: hidden;
}
/* -------------------------- NAV -------------------------- */
.navbar {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 20px 30px -10px;
}
.active {
    font-weight: bolder;
}

/* -------------------------- MAIN -------------------------- */
.prepsentation {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 3px 0px;
}
.img-main {
    margin-top: 30px;
    height: 800px;
}
.main-paragraph {
    font-family: 'Lora', serif;
    font-size: 3.6rem;
    text-align: left;
    padding-left: 1.5rem;
    margin-top: 13rem;
    font-weight: 600;
}
.second-paragraph {
    padding-left: 1.5rem;
    font-size: 1.5rem;
    font-weight: 400;
}
.text-paragraph {
    font-size: 1.1rem;
    font-weight: 300;
    font-family: 'Roboto Flex', sans-serif;
    text-align: justify;
}
.text-intro {
    margin-left: 1.3rem;
}
.under-img-p {
    text-align: right;
    margin-right: 5px;
    font-family: 'Roboto Flex', sans-serif;
    font-weight: 300;
}
.menu__icon, .search__icon {
    cursor: pointer;
}

/* -------------------------- CONTENTS -------------------------- */
.contents {
    margin-top: 40px;
}
.main__content {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.letter {
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding-left: 15px;
    margin-top: 2.5rem;
}
.newspaper-letter {
    font-size: 1.2rem;
    margin-left: 15px;
}
.card-container {
    border: 1px solid #F8F8F8;
    padding: 8px;
    background-color: #F8F8F8;
    text-align: justify;
}
.publicity-card {
    margin-bottom: 20px;
}
.publicity-img {
    height: 90px;
    width: 90px;
    margin-top: 5px;
}
.img-card-publicity {
    display: flex;
    justify-content: center;
}
.card-body {
    margin: 0;
    padding: 0;
}
.card-title {
    margin-left: 5px;
    text-align: left;
}
.card-fotter {
    margin-left: 5px;
    margin-bottom: 0;
}
.body-card {
    margin-top: 15px;
    margin-bottom: 15px;
}
.text-paragraph-content {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1rem;
    text-align: left;
    font-size: 1.1rem;
    font-weight: 300;
    font-family: 'Roboto Flex', sans-serif;
    text-align: justify;
}
.stiky {
    position: sticky;
    top: 3rem;
}

.section-inside {
    padding: 2rem;
    border-top: 1px solid black;
    margin-top: 4rem;
}
.section__inside {
    padding: 2rem;
    margin-top: 1.5rem;
}
.citas__outside {
    font-style: normal;
}
.section-ouside {
    padding: 1rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.img__info {
    font-size: 12px;
}

/* Buttons */
.btn__dark {
    background-color: #2D2D2D;
    padding: 10px 12px;
    color: white;
    margin-bottom: 15px;
    text-decoration: none;
    margin-left: 6px;
}
.btn__dark:hover {
    background-color: #2D2D2D;
}

/* infosite */
#infosite {
    background: url("../../resources/29est-biblioteca1.jpg");
    object-fit: cover;
    z-index: 2;
    
}
.link__labes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    padding-left: 7em;
    padding-right: 7em;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.info__link {
    padding-left: 5rem;
    padding-right: 5rem;
}

/* -------------------------- FOOTER -------------------------- */
footer {
    background-color: #2D2D2D;
    margin-top: 4rem;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1rem;
    color: #E3E3E3;
}
.footer-item {
    color: #52A3E2;
    font-weight: 600;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.column {
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.top__margin-footer {
    padding-top: 0.7rem;
}
.footer__li {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__li a{
    text-decoration: none;
    color: white;
}
li {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Para editar las imagenes de Perfil */
.about-me {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 3.5rem;
}
.img-profile {
    height: 170px;
    width: 170px;
    display: flex;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 7px solid #059BFF;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.info__button {
    border-radius: 30px;
    width: 205px;
    height: 45px;
    background: #059BFF;
    color: white;
    border: none;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    margin-right: 5px;
    transition: .3s ease-in-out;
}
.info__button > a{
    text-decoration: none;
    color: white;
    transition: .3s ease-in-out;
}
.info__button:hover {
    background-color: #ABDDFF;
    border: 2px solid #059BFF;
}
.info__button:hover > a {
    color: black;
}

.info__button-git {
    margin-left: 5px;
    border-radius: 30px;
    width: 205px;
    height: 45px;
    border: 2px solid #059BFF;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    transition: .3s ease-in-out;
    color: black;
}
.info__button-git:hover {
    background-color: #ABDDFF;
    color: white;
}
.info__button-git:hover > a {
    color: black;
}
.info__button-git > a  {
    text-decoration: none;
    color: black;
    transition: .3s ease-in-out;
}

.btn__link-icon{
    height: 38px;
    width: 38px;
    background-color: #E6E6E6;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 1rem;
}
.btn__link-icon > a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn__link-icon > i > img {
    filter: brightness(0) saturate(100%) hue-rotate(180deg);
}

.accordion-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* GALERY */
.container-img {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;
    grid-gap: 20px;
    overflow: hidden;
}
.container-img .box-img figure {
    width: 100%;
    height: 100%;
    cursor: default;
}

.container-img .box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .25s, visibility .25s ease-in;
}
.container-img .box-img img:hover {
    transform: scale(1.1);
}

.box-img {
    position: relative;
    display: inline-block;
}

figure {
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
    transform-origin: 0 0;
}

.info__galery {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    background-color: rgba(30, 30, 30, 0.7); /* Color de fondo con transparencia */
    padding: 10px;
    box-sizing: border-box;
    z-index: 1; /* Coloca el div por encima de la imagen */
}
#info__icon {
    width: 30px;
    height: 30px;
    filter: invert(100%);
}

.container-img .box-img:nth-child(1) {
    grid-column-start: span 2;
}
.container-img .box-img:nth-child(3) {
    grid-column-start: span 2;
}
.container-img .box-img:nth-child(6) {
    grid-column-start: span 2;
}
.container-img .box-img:nth-child(7) {
    grid-column-start: span 2;
}
.container-img .box-img:nth-child(10) {
    grid-column-start: span 2;
}
.container-img .box-img:nth-child(11) {
    grid-column-start: span 2;
}
.container-img .box-img:nth-child(14) {
    grid-column-start: span 2;
}
.container-img .box-img:nth-child(18) {
    grid-column-start: span 2;
}

/* ============ small devices ============ */
@media only screen and (max-width: 1360px) {
    .img-main {
        height: 600px;
    }
    .main-paragraph {
        font-size: 3rem;
        text-align: left;
        padding-left: 1.5rem;
    }
}	

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
	.dropdown-menu li{ position: relative; 	}
	.nav-item .submenu{ 
		display: none;
		position: absolute;
		left:100%; top:-7px;
	}
	.nav-item .submenu-left{ 
		right:100%; left:auto;
	}
	.dropdown-menu > li:hover{ background-color: #f1f1f1 }
	.dropdown-menu > li:hover > .submenu{ display: block; }
}	

/* ============ small devices ============ */	
@media only screen and (max-width: 992px) {
    /* Estilos para pantallas más pequeñas, como tablets */
    .prepsentation {
        display: flex;
        flex-direction: column;
    }
    .main-paragraph {
        margin-top: 3rem;
        font-size: 2.8rem;
        text-align: left;
        padding-left: 1.5rem;
    }
    .dropdown-menu .dropdown-menu{
        margin-left:0.7rem; 
        margin-right:0.7rem; 
        margin-bottom: .5rem;
    }
    #publicity-site {
        visibility: hidden;
    }
    #left-col {
        width: 100%;
    }
    #menu__ico {
        visibility: visible;
    }
    .publicidad {
        width: 100%;
        overflow-x: hidden;
        box-sizing: border-box;
        display: grid;
    }

    /* Sections */
    .section-inside {
        padding: 1rem;
        border-top: 1px solid black;
        margin-top: 3rem;
    }
    .section__inside {
        padding: 1rem;
        margin-top: 1.5rem;
    }

    /* Displays */
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 1rem;
        color: #E3E3E3;
    }
    .column {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    /* Links bottom */
    .link__labes {
        text-align: center;
        padding-left: 2em;
        padding-right: 2em;
    }
    .info__link {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .column {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .footer__li > .mt-4 {
        padding-top: 0;
        margin-top: 0;
    }
}

@media screen and (max-width: 800px) {
    .container-img {
        width: 95%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 250px;
        grid-gap: 10px;
        overflow: hidden;
        grid-template-rows: 200px;
    }
    .container-img .box-img:nth-child(1) {
        grid-column-start: span 2;
    }
    .container-img .box-img:nth-child(2) {
        grid-column-start: span 2;
    }
    .container-img .box-img:nth-child(17) {
        grid-column-start: span 2;
    }
}
  
@media only screen and (max-width: 768px) {
    /* Estilos para pantallas aún más pequeñas, como móviles en orientación horizontal */
    #align-tablets {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .header-top {
        width: 100%;
    }
    #publicity-site {
        display: none;
    }
    .top-menu {
        align-items: center;
        justify-content: space-around;
    }
    .menu__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
    }

    /* Labels */
    /* Links bottom */
    .link__labes {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .info__link {
        padding-left: 0.1rem;
        padding-right: 0.1rem;
    }
    #img__dev {
        display: none;
    }
    #section__ouside {
        display: flex !important;
        flex-direction: column !important;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 1rem;
        color: #E3E3E3;
    }
    .column {
        margin-top: 0;
        padding-top: 0;
    }
}
  
@media only screen and (max-width: 576px) {
    /* Estilos para pantallas pequeñas, como móviles en orientación vertical */
    .main-paragraph {
        margin-top: 0.5rem;
        font-size: 2.2rem;
        text-align: left;
        padding-left: 1rem;
    }
    .info__button {
        border: none;
        margin-top: 1rem;
        margin-bottom: 0.5rem;        
    }
    .info__button-git {
        border: none;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;        
    }
    
    .info__links {
        display: flex;
        flex-direction: column;
    }
    .text-intro {
        margin-left: 0.5rem;
    }
}

@media screen and (max-width: 500px) {
    .container-img {
        width: 99%;
        grid-template-columns: repeat(1, 1fr);
        overflow: hidden;
    }
    .container-img .box-img:nth-child(1) {
        grid-column-start: span 2;
    }
    .container-img .box-img:nth-child(2) {
        grid-column-start: span 2;
    }
    .container-img .box-img:nth-child(17) {
        grid-column-start: span 2;
    }
}